<!DOCTYPE html>
<html>
  <head>
    <title>GeoexpatNotifier</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <%= render :partial => "shared/tabs" %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

